<p>
  <%= @article.title %><br>
</p>

<p>
  <%= @article.description %><br>
</p>

<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.description %>
  </p>
  
  <%= link_to 'Delete Comment', 
						 article_comment_path(@article, comment), 
						 method: :delete,
						 data: { confirm: 'Are you sure?' } %>	
  
<% end %>


<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

